@font-face {
  font-family: "Norse";
  src: local(":relaxed:"), url("../fonts/Norse-Bold-f675f9aaa02f9af3892214b1a63cb038a18d870d484a9eab34fba266583a26cf\ \(1\).otf") format("opentype");
}

@font-face {
  font-family: "Open sans bold";
  src: local(":relaxed:"), url("../fonts/open-sans-bold.woff2") format("woff");
}

@font-face {
  font-family: "Open Sans medium";
  src: local(":relaxed:"), url("../fonts/open-sans-medium.woff2") format("woff");
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
}

.open-sans-medium {
  font-family: "Open Sans medium", sans-serif;
}

.norse {
  font-family: Norse;
}

.open-sans-bold {
  font-family: "Open sans bold", sans-serif;
}

.small-img {
  width: 30px;
  height: 30px;
}

.odin-img {
  width: 55px;
  height: 55px;
}

.gold-text {
  color: #cc9543;
}

.nav-brand {
  font-size: 24px;
  white-space: nowrap;
}

.nav-list {
  width: 490px;
}

.nav-list-li {
  color: rgba(74, 74, 74, 0.7);
  font-size: 16px;
}

.nav-list-li:hover {
  color: #212529;
}

.top-section-h1 {
  font-size: 36px;
  line-height: 43.2px;
}

.top-section-p {
  font-size: 18px;
  line-height: 32px;
  color: rgba(74, 74, 74, 0.7);
}

.medium-text {
  font-size: 20px;
  color: #4a4a4a;
}

.top-section-btn {
  background-color: #6abfc3;
}

.sub-header {
  color: #4a4a4a;
  font-size: 24px;
}

.svg-img {
  height: 165px;
}

.bg-whitesmoke {
  background: #f3f3f3;
}

.tools-div {
  box-shadow: 0 7px 16px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
}

.badge {
  width: 80px;
  height: 80px;
}

.tools-h4 {
  color: #4a4a4a;
  font-size: 18px;
}

.button-secondary {
  background-color: #cc9543;
}

.success-stories {
  background-image: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238));
}

.testimonial {
  font-size: 18px;
  line-height: 30px;
}

.photo-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.ash {
  color: rgba(74, 74, 74, 0.7);
}

.cta-text {
  font-size: 35px;
  line-height: 45px;;
}

.cta-btn {
  padding-left: 70px;
  padding-right: 70px;
}

@media screen and (min-width: 1024px) {
  .nav-list {
    width: 510px;
  }

  .nav-brand {
    font-size: 32px;
  }

  .odin-img {
    width: 70px;
    height: 70px;
  }

  .nav-border {
    font-size: 2em;
    line-height: 78px;
  }
}

@media screen and (min-width: 720px) {
  .badge {
    width: 160px;
    height: 160px;
  }
}
