.border-lg {
  border: 1px solid #a8a6a6;
}

.border-lg-0 {
  border: none;
}

.border-lg-left {
  border-left: 1px solid #a8a6a6;
}

.border-lg-left-0 {
  border-left: none;
}

.border-lg-right {
  border-right: 1px solid #a8a6a6;
}

.border-lg-right-0 {
  border-right: none;
}

.border-lg-top {
  border-top: 1px solid #a8a6a6;
}

.border-lg-top-0 {
  border-top: none;
}

.border-lg-bottom {
  border-bottom: 1px solid #a8a6a6;
}

.border-lg-bottom-0 {
  border-bottom: none;
}